
packages/

Framework/bin/

Framework/obj/

Aladin\.Model/obj/

Aladin\.Data/bin/

Aladin\.Data/obj/

Aladin\.Data/AladinContext\.cs

Aladin/bin/

Aladin/obj/

Aladin\.Business/bin/

Aladin\.Business/obj/
/.vs/Aladin/v15/Server/sqlite3
