@using Framework.Core.Session

<div class="sidebar" data-color="purple" data-image="/Areas/Yonetim/Content/img/sidebar-4.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="/Yonetim/Main" class="simple-text">
                Feysan Konut
            </a>
        </div>
        <ul class="nav" id="side-menu">
            @if (SessionManager.User.IsAuthenticated)
            {
                <li>
                    <a><i class="fa fa-wrench fa-fw"></i> Aidat<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/Yonetim/Dues/List">Durumum</a>
                        </li>
                        @if (SessionManager.User.IsInRole(new Guid[] { Definition.Role.System, Definition.Role.Contributor, Definition.Role.Administrator }))
                        {
                            <li>
                                <a href="/Yonetim/Dues/Item">Ekle</a>
                            </li>
                        }
                    </ul>
                </li>

                <li>
                    <a><i class="fa fa-wrench "></i> Duyurular - Mevzuat<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        @foreach (var item in (List<Category>)Framework.Core.Caching.CacheProvider.Instance.Get("Category"))
                        {
                            <li>
                                <a href="/Yonetim/Announcement/List/@item.ID">@item.Name</a>
                            </li>
                        }
                        @if (SessionManager.User.IsInRole(new Guid[] { Definition.Role.System, Definition.Role.Administrator, Definition.Role.Contributor }))
                        {
                            <li>
                                <a href="/Yonetim/Announcement/List/">Hepsi</a>
                            </li>
                        }
                    </ul>
                </li>
            }

            @if (SessionManager.User.IsInRole(new Guid[] { Definition.Role.System, Definition.Role.Administrator }))
            {
                <li>
                    <a><i class="fa fa-wrench fa-fw"></i> Üye<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/Yonetim/User/List">Liste</a>
                        </li>
                        <li>
                            <a href="/Yonetim/User/Item">Ekle</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a><i class="fa fa-wrench fa-fw"></i> Anasayfa<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/Yonetim/Announcement/Homepage?Announcement.ID=@Definition.Category.HomePageLightBox">Resimler</a>
                        </li>
                    </ul>
                </li>
            }

            @if (SessionManager.User.IsInRole(new Guid[] { Definition.Role.System }))
            {
                <li>
                    <a><i class="fa fa-wrench fa-fw"></i> Rol<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/Yonetim/Role/List">Liste</a>
                        </li>
                        <li>
                            <a href="/Yonetim/Role/Item">Ekle</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a><i class="fa fa-wrench fa-fw"></i> Kategori<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/Yonetim/Category/List">Liste</a>
                        </li>
                        <li>
                            <a href="/Yonetim/Category/Item">Ekle</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a><i class="fa fa-wrench fa-fw"></i> Log<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/Yonetim/Log/List">Liste</a>
                        </li>
                    </ul>
                </li>

            }
        </ul>
    </div>
</div>