@model Category
@{
    Layout = Definition.Url.Layout.Item;
    ViewBag.Settings = Model.IsNew ? new ViewSettings("Kategori Oluştur", "Category.Create()", "Kaydet") : new ViewSettings("Kategori Güncelle", "Category.Update()", "Güncelle");
}
<script src="~/Areas/Admin/Scripts/Category.js"></script>

@Html.HiddenFor(x => x.ID)
<div class="form-group">
    @Html.LabelFor(x => x.Name)
    @Html.BootstrapTextBoxFor(x => x.Name)
</div>
