  <!-- About us-->
<section class="section section-md bg-secondary-4 text-center text-sm-left"  id="about-us">
    <div class="shell">
        <div class="range range-50 range-md-justify range-sm-middle">
            <div class="cell-sm-10 cell-md-8 cell-lg-7 wow fadeInUp" data-wow-delay=".1s">
                <div class="post-video post-video-border">
                    <div class="post-video__image">
                        <img src="/Content/videos/video-bg-1020x525.jpg" alt="" width="1020" height="525" />
                    </div>
                    <div class="post-video__body"><a class="link-control post-video__control" data-lightgallery="item" href="https://youtu.be/leNfeupHrns"></a></div>
                </div>
            </div>
            <div class="cell-sm-10 cell-md-8 cell-lg-5 reveal-flex wow fadeInUp" data-wow-delay=".3s">
                <div class="bg-primary section-wrap-content-var-1">
                    <div class="section-wrap-content-var-1-inner text-justify">
                        <h2>Hakkımızda</h2>
                        <p>
                            Aladin Hotel Nisan 2012 tarihi itibari ile misafirlerin hizmete açılmış bir butik otel olup Koberz AG(Koberz
                            Holding) bünyesinde günümüzde de hizmet vermeye devam etmektedir. Her gün farklılaşan ve ilerleyen
                            konaklama sektöründe; alanında tecrübeli, eğitimli ve disiplin sahibi personelimizle misafir
                            memnuniyetimizi en üst seviyede tutarak her zaman daha iyi bir seviyeye ulaşıp alanında öncü olmak
                            vizyonumuzu tanımlamaktadır. Yenilik, çevreye önem, teknolojiyi yakından takip, güler yüz ve çözüm
                            odaklı olmak ve ayrıca misafirlerimizin görüşlerini önemsemek ve etik değerlere saygı duyup,
                            misafirlerimizi evinde hissettirmek otelimizin öncelikli değerleri olmakla birlikte çalışma felsefemizi ifade
                            etmektedir.
                        </p>
                        <a class="button button-effect-ujarak button-lg button-secondary-outline button-square" href="#top">
                        <span>Rezervasyon Yaptır</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>