  <!-- About us-->
<section class="section section-md bg-secondary-4 text-center text-sm-left"  id="about-us">
    <div class="shell">
        <div class="range range-50 range-md-justify range-sm-middle">
            <div class="cell-sm-10 cell-md-8 cell-lg-7 wow fadeInUp" data-wow-delay=".1s">
                <div class="post-video post-video-border">
                    <div class="post-video__image">
                        <img src="/Content/images/video-bg-1020x525.jpg" alt="" width="1020" height="525" />
                    </div>
                    <div class="post-video__body"><a class="link-control post-video__control" data-lightgallery="item" href="https://www.youtube.com/watch?v=I5FlP07kdvM"></a></div>
                </div>
            </div>
            <div class="cell-sm-10 cell-md-8 cell-lg-5 reveal-flex wow fadeInUp" data-wow-delay=".3s">
                <div class="bg-primary section-wrap-content-var-1">
                    <div class="section-wrap-content-var-1-inner">
                        <h2>Hakkımızda</h2>
                        <p>Committed to everyone seeking energy and excitement, we offer endless possibilities to unwind and reenergize.</p>
                        <div class="group">
                            <dl class="list-desc">
                                <dt>Weekdays:</dt>
                                <dd><span>8:00–20:00</span></dd>
                            </dl>
                            <dl class="list-desc">
                                <dt>Weekends:</dt>
                                <dd><span>9:00–18:00</span></dd>
                            </dl>
                        </div><a class="button button-effect-ujarak button-lg button-secondary-outline button-square" href="about-us.html"><span>book now</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>