 <!-- Page Footer-->
<footer class="page-footer text-left text-sm-left" id="contacts">
    <div class="shell-wide">
        <div class="footer-banner section-sm"></div>
        <div class="page-footer-minimal">
            <div class="shell-wide">
                <div class="range range-around">
                    <div class="cell-sm-12 cell-md-12 cell-lg-12 wow fadeInUp" data-wow-delay=".2s">
                            <h4>Adres</h4>
                            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4a096008882e3edd6b918583fc80ee0864a32e9cb67f676ef6cec427f5d35efd&amp;width=100%25&amp;height=300&amp;lang=tr_TR&amp;scroll=true"></script>
                            <ul class="list-unstyled">
                                <li>
                                    <dl class="list-desc">
                                        <dt><span class="icon icon-sm mdi mdi-map-marker"></span></dt>
                                        <dd>Adres : <a class="link link-gray-darker" href="#">
                                            Çamlık Mahallesi 405. Sokak No:26 Didim - Aydın</a></dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl class="list-desc">
                                        <dt><span class="icon icon-sm mdi mdi-phone"></span></dt>
                                        <dd>
                                            Telefon : <a class="link link-gray-darker" href="tel:#">+90 (256) 813 71 01</a>
                                        </dd>
                                    </dl>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>