  <!-- Portfolio-->
<section class="section section-md bg-white text-center text-sm-left" id="gallery">
    <div class="shell-wide">
        <div class="range range-10 range-middle">
            <div class="cell-sm-6">
                <h3>Otel Resimleri</h3>
            </div>
            <div class="cell-sm-6 text-sm-right"><a class="heading-link link-gray-darker" href="#">Tüm hepsini gör</a></div>
        </div>
        <hr>
        <div class="isotope-wrap">
            <!-- Isotope Content-->
            <div class="row isotope" data-isotope-layout="masonry" data-isotope-group="gallery" data-lightgallery="group">
                <div class="col-xs-12 col-sm-6 col-md-3 grid-sizer"></div>
                <div class="col-xs-12 col-sm-6 col-md-3 isotope-item wow fadeInUp" data-filter="Category 1" data-wow-delay=".1s">
                    <a class="portfolio-item thumbnail-classic" href="/Content/images/gallery-1-533x800_original.jpg" data-size="533x800" data-lightgallery="item">
                        <img src="/Content/images/gallery-1-420x584.jpg" alt="" width="420" height="584" />
                        <figure></figure>
                        <div class="caption"><span class="icon mdi-thumb-up-outline">346</span><span class="icon mdi-eye">220</span></div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 isotope-item wow fadeInUp" data-filter="Category 1" data-wow-delay=".2s">
                    <a class="portfolio-item thumbnail-classic" href="/Content/images/gallery-2-1199x800_original.jpg" data-size="1199x800" data-lightgallery="item">
                        <img src="/Content/images/gallery-2-420x278.jpg" alt="" width="420" height="278" />
                        <figure></figure>
                        <div class="caption"><span class="icon mdi-thumb-up-outline">346</span><span class="icon mdi-eye">220</span></div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 isotope-item wow fadeInUp" data-filter="Category 1" data-wow-delay=".4s">
                    <a class="portfolio-item thumbnail-classic" href="/Content/images/gallery-3-584x800_original.jpg" data-size="584x800" data-lightgallery="item">
                        <img src="/Content/images/gallery-3-420x584.jpg" alt="" width="420" height="584" />
                        <figure></figure>
                        <div class="caption"><span class="icon mdi-thumb-up-outline">346</span><span class="icon mdi-eye">220</span></div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 isotope-item wow fadeInUp" data-filter="Category 1" data-wow-delay=".5s">
                    <a class="portfolio-item thumbnail-classic" href="/Content/images/gallery-4-1200x800_original.jpg" data-size="1200x800" data-lightgallery="item">
                        <img src="/Content/images/gallery-4-420x278.jpg" alt="" width="420" height="278" />
                        <figure></figure>
                        <div class="caption"><span class="icon mdi-thumb-up-outline">346</span><span class="icon mdi-eye">220</span></div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 isotope-item wow fadeInUp" data-filter="Category 1" data-wow-delay=".3s">
                    <a class="portfolio-item thumbnail-classic" href="/Content/images/gallery-5-1200x800_original.jpg" data-size="1200x800" data-lightgallery="item">
                        <img src="/Content/images/gallery-5-420x278.jpg" alt="" width="420" height="278" />
                        <figure></figure>
                        <div class="caption"><span class="icon mdi-thumb-up-outline">346</span><span class="icon mdi-eye">220</span></div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 isotope-item wow fadeInUp" data-filter="Category 1" data-wow-delay=".6s">
                    <a class="portfolio-item thumbnail-classic" href="/Content/images/gallery-6-1200x798_original.jpg" data-size="1200x798" data-lightgallery="item">
                        <img src="/Content/images/gallery-6-420x278.jpg" alt="" width="420" height="278" />
                        <figure></figure>
                        <div class="caption"><span class="icon mdi-thumb-up-outline">346</span><span class="icon mdi-eye">220</span></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>