  <!-- Portfolio-->
<section class="section section-md bg-white text-center text-sm-left" id="gallery">
    <div class="shell-wide">
        <div class="range range-10 range-middle">
            <div class="cell-sm-6">
                <h3>Otel Resimleri</h3>
            </div>
            <div class="cell-sm-6 text-sm-right"><a class="heading-link link-gray-darker" href="#">Tüm hepsini gör</a></div>
        </div>
        <hr>
        <div class="isotope-wrap">
            <!-- Isotope Content-->
            <div class="row isotope" data-isotope-layout="masonry" data-isotope-group="gallery" data-lightgallery="group">
                <div class="col-xs-12 col-sm-6 col-md-3 grid-sizer"></div>
                <div class="col-xs-12 col-sm-6 col-md-3 isotope-item wow fadeInUp" data-filter="Category 1" data-wow-delay=".1s">
                    <a class="portfolio-item thumbnail-classic" href="~/Content/images/hotel/havuz.jpg" data-lightgallery="item">
                        <img src="~/Content/images/hotel/havuz-thumb.jpg" alt="" width="420" height="584" />
                        <figure></figure>
                        <div class="caption"><span class="icon mdi-thumb-up-outline">346</span><span class="icon mdi-eye">220</span></div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 isotope-item wow fadeInUp" data-filter="Category 1" data-wow-delay=".2s">
                    <a class="portfolio-item thumbnail-classic" href="~/Content/images/hotel/oda-01.jpg" data-lightgallery="item">
                        <img src="~/Content/images/hotel/oda-01-thumb.jpg" alt="" width="420" height="278" />
                        <figure></figure>
                        <div class="caption"><span class="icon mdi-thumb-up-outline">346</span><span class="icon mdi-eye">175</span></div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 isotope-item wow fadeInUp" data-filter="Category 1" data-wow-delay=".4s">
                    <a class="portfolio-item thumbnail-classic" href="~/Content/images/hotel/oda.jpg" data-lightgallery="item">
                        <img src="~/Content/images/hotel/oda-thumb.jpg" alt="" width="420" height="584" />
                        <figure></figure>
                        <div class="caption"><span class="icon mdi-thumb-up-outline">346</span><span class="icon mdi-eye">150</span></div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 isotope-item wow fadeInUp" data-filter="Category 1" data-wow-delay=".5s">
                    <a class="portfolio-item thumbnail-classic" href="~/Content/images/hotel/giris.jpg" data-lightgallery="item">
                        <img src="~/Content/images/hotel/giris-thumb.jpg" alt="" width="420" height="278" />
                        <figure></figure>
                        <div class="caption"><span class="icon mdi-thumb-up-outline">346</span><span class="icon mdi-eye">200</span></div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 isotope-item wow fadeInUp" data-filter="Category 1" data-wow-delay=".3s">
                    <a class="portfolio-item thumbnail-classic" href="~/Content/images/hotel/manzara.jpg" data-lightgallery="item">
                        <img src="~/Content/images/hotel/manzara-thumb.jpg" alt="" width="420" height="278" />
                        <figure></figure>
                        <div class="caption"><span class="icon mdi-thumb-up-outline">346</span><span class="icon mdi-eye">168</span></div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 isotope-item wow fadeInUp" data-filter="Category 1" data-wow-delay=".6s">
                    <a class="portfolio-item thumbnail-classic" href="~/Content/images/hotel/deniz.jpg" data-lightgallery="item">
                        <img src="~/Content/images/hotel/deniz-thumb.jpg" alt="" width="420" height="278" />
                        <figure></figure>
                        <div class="caption"><span class="icon mdi-thumb-up-outline">346</span><span class="icon mdi-eye">278</span></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>