<!-- icon list--><!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <!-- Site Title-->
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic%7CPoppins:300,400,500,700">
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/Site.css" rel="stylesheet" />
    <script src="~/Content/js/vendor/jquery-3.3.1.min.js"></script>
</head>
<body>
    @RenderBody()
    <!-- Javascript-->
    <script src="~/Content/js/core.min.js"></script>
    <script src="~/Content/js/script.js"></script>
    <!--Coded by Drel-->
</body>
</html>