  <!-- Page preloader-->
    <div class="page-loader">
        <div>
            <div class="page-loader-body">
                <div class="loader">
                    <div class="window"></div>
                    <div class="window"></div>
                    <div class="window"></div>
                    <div class="window"></div>
                    <div class="window"></div>
                    <div class="window"></div>
                    <div class="window"></div>
                    <div class="window"></div>
                    <div class="window"></div>
                    <div class="window"></div>
                    <div class="window"></div>
                    <div class="window"></div>
                    <div class="window"></div>
                    <div class="window"></div>
                    <div class="window"></div>
                    <div class="window"></div>
                    <div class="window"></div>
                    <div class="window"></div>
                    <div class="window"></div>
                    <div class="window"></div>
                    <div class="window"></div>
                    <div class="window"></div>
                    <div class="window"></div>
                    <div class="window"></div>
                    <div class="window"></div>
                    <div class="door"></div>
                    <div class="hotel-sign"><span>A</span><span>L</span><span>A</span><span>D</span><span>I</span><span>N</span></div>
                </div>
            </div>
        </div>
    </div>