<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/#top">
                <img class="logo" src="~/Content/img/logo.png" />
                <span style="font-weight:400">FEYSAN KONUT</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#tanitim">
                        <i class="fa fa-home fa-fw"></i> Tanıtım
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tarihce">
                        <i class="fa fa-history fa-fw"></i> Tarihçe
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#iletisim">
                        <i class="fa fa-mobile-phone fa-fw"></i> İletişim
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-placement="bottom" href="/Admin/Authentication/Login">
                        <i class="fa fa-lock fa-fw"></i> Ortak Girişi
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

